<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="../public/libs/require/require.js" data-main="../public/script/config.js"></script>
</head>
<body>
	Here is index
</body>
</html>